{% block title %}简单点---自动化运维平台{% end %}

{% block metas %}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<meta name="description" content="Blue Moon - Responsive Admin Dashboard" />
<meta name="keywords" content="Notifications, Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, bootstrap.gallery" />
<meta name="author" content="Bootstrap Gallery" />
{% end %}

{% block styles %}
<link rel="shortcut icon" href="{{ static_url("img/favicon.ico") }}">   
<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
<link href="{{ static_url("css/new.css") }}" rel="stylesheet"> 
<link href="{{ static_url("css/charts-graphs.css") }}" rel="stylesheet">
<!-- Datepicker CSS -->
<link rel="stylesheet" type="text/css" href="{{ static_url("css/datepicker.css") }}">
<link href="{{ static_url("fonts/font-awesome.min.css") }}" rel="stylesheet">
{% end %}